<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module" src="https://ajax.googleapis.com/ajax/libs/@googlemaps/extended-component-library/0.6.11/index.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
<!--    <link rel="stylesheet" href="./static/styles.css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
 <gmpx-api-loader key="{{api_key}}" solution-channel="GMP_GE_placepicker_v2"></gmpx-api-loader>

 <nav class="navbar navbar-expand-lg navigation-foot">
  <div class="container-fluid">
    <a class="navbar-brand mx-3" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav-list" id="navbarNav">
      <ul class="navbar-nav">
<!--        <li class="nav-item navy">-->
<!--          <a class="nav-link active" aria-current="page" href="#">Home</a>-->
<!--        </li>-->
        <li class="nav-item">
          <a class="nav-link" href="#">CITIES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ADD</a>
        </li>
<!--        <li class="nav-item">-->
<!--          <a class="nav-link disabled" aria-disabled="true">Disabled</a>-->
<!--        </li>-->
      </ul>
    </div>
  </div>
</nav>

 <div class="container">
     <div>
         <h1>ADD NEW PLACE</h1>
         <p>Let Everyone know about a new work-friendly venue!!</p>
     </div>
     <form method="POST" action="{{url_for('add_place')}}">
         {{form.csrf_token}}

<!--         <div id="place-picker-box">-->
<!--            <div id="place-picker-container">-->
<!--               <gmpx-place-picker placeholder="Enter an address"></gmpx-place-picker>-->
<!--            </div>-->
<!--         </div>-->

         <ol>
<!--             <li>{{form.location.label(class="form-label")}} {{form.location(size=100, class="form-input")}}</li>-->
             <li>
                 {{form.location.label(class="form-label")}}
<!--                 {{form.location(size=100, class="form-input", id="location-input")}}-->
                 <gmpx-place-picker id="placePicker" class="form-input"></gmpx-place-picker>
<!--                 <gmpx-place-picker ></gmpx-place-picker>-->

             </li>
             <li class="hidden">
                 {{ form.location_url.label(class="form-label")}}
<!--                 {{form.location_url(size=100, class="form-input", id="location-url")}}-->
                 <gmp-map id="map" style="height: 400px; width: 100%; margin-top: 16px;"></gmp-map>
             </li>
             <li class="hidden">{{form.photo.label(class="form-label")}} {{form.photo(class="form-input")}}</li>
         </ol>

         {{form.next(class="form_btn")}}
     </form>

 </div>


 <!--Footer-->

<div class="container-fluid">
    <footer class="py-3  navigation-foot">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-body-secondary">Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-body-secondary">Features</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-body-secondary">Pricing</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-body-secondary">FAQs</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-body-secondary">About</a>
            </li>
        </ul>
        <p class="text-center text-body-secondary">© 2025 Company, Inc</p>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>