{% extends "base.html" %}
{% block title %}{% endblock %}


 {% block content %}

 <div class="container">
     <div>
         <h1>ADD NEW PLACE</h1>
         <p>Let Everyone know about a new work-friendly venue!!</p>
     </div>
     <form method="POST" action="{{url_for('add_place')}}">
         {{form.csrf_token}}
         <h2>VENUE INFORMATION</h2>
         {{form.name.label(class="form-label")}} {{form.name(size=100, class="form-input", value=name_of_venue)}}
         {{ form.street.label(class="form-label")}} {{form.street(size=100, class="form-input", value=street)}}

         {{form.next(class="form_btn")}}
     </form>

 </div>

 {% endblock %}


 {% block script %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
 {% endblock %}
