<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>


<!-- Navigation Bar -->
 <nav class="navbar navbar-expand-lg navigation-foot">
  <div class="container-fluid">
    <a class="navbar-brand mx-3" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav-list" id="navbarNav">
      <ul class="navbar-nav">
<!--        <li class="nav-item navy">-->
<!--          <a class="nav-link active" aria-current="page" href="#">Home</a>-->
<!--        </li>-->
        <li class="nav-item">
          <a class="nav-link" href="#">CITIES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('add_place')}}">ADD</a>
        </li>
<!--        <li class="nav-item">-->
<!--          <a class="nav-link disabled" aria-disabled="true">Disabled</a>-->
<!--        </li>-->
      </ul>
    </div>
  </div>
</nav>

<!--Hero-->
<div class="body-details container-fluid">
<!--    <img src="./static/assets/img/peace-1-bg.jpg">-->
    <div class="hero-image">
        <div class="hero-text">
            <h1>PERSONAL-TIME EVERYWHERE</h1>
            <p>From coffe shops to hotel lobbies, discover everyday places to work and connect</p>
            <button class="explore-button">Explore "Dynamic Location"</button>
            <p> show all cities that have been entered. </p>

        </div>
    </div>

</div>


<!--Footer-->

<div class="container-fluid">
    <footer class="py-3  navigation-foot">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-body-secondary">Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-body-secondary">Features</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-body-secondary">Pricing</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-body-secondary">FAQs</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link px-2 text-body-secondary">About</a>
            </li>
        </ul>
        <p class="text-center text-body-secondary">© 2025 Company, Inc</p>
    </footer>
</div>



    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>

