{% extends "base.html " %}

{% block content %}
  <div class="grid-container">
      <header>
          <img class="header-img" src="{{img_url}}">
      </header>
      <section class="section-grid">
           <div class="outer-container" id="item-one">

               <p>TODAY</p>
               <P>Visits: 0</P>
               <div style="margin-left: 10px;">
                 <p>BEEN HERE</p>
               </div>
           </div>

<!--          <div class="reviews">-->
<!--              -->
<!--          </div>-->
          <div class="outer-container" id="item-two">

              <p>PRODUCTIVITY</p>
              <div class="feelings-container">
                  <div class="inner-div">
                      <p>Stable Wi-Fi</p>
                      <p>Long stays</p>
                      <p>Quiet</p>
                  </div>
                  <div class="inner-div">
                      <p>Power sockets</p>
                      <p>Work friendly tables</p>
                      <p>Video/audio calls</p>
                  </div>
              </div>
          </div>

          <div class="outer-container" id="item-three">

              <p>COMMUNITY</p>
              <div class="feelings-container">
                 <div class="inner-div">
                     <p>People working</p>
                 </div>
                  <div class="inner-div">
                     <p>Group tables</p>
                 </div>
              </div>
          </div>

          <div class="outer-container" id="item-four">

              <p>SERVICE</p>
              <div class="feelings-container">
                  <div class="inner-div">
                      <p>Coffee</p>
                      <p>Veggie</p>
                      <p>Credit cards</p>
                  </div>
                  <div class="inner-div">
                      <p>Food</p>
                      <p>Alcohol</p>
                  </div>
              </div>
          </div>

          <div class="outer-container" id="item-five">

              <p>SPACE</p>
              <div class="feelings-container">
                  <div class="inner-div">
                      <p>Natural light</p>
                      <p>Spacious</p>
                      <p>Accessible</p>
                      <p>Smoke free</p>
                      <p>Parking</p>
                  </div>
                  <div class="inner-div">
                      <p>Outdoor area</p>
                      <p>Restroom</p>
                      <p>Air conditioned</p>
                      <p>Pet friendly</p>
                  </div>
              </div>
          </div>

          <div class="outer-container" id="item-six">

              <p>Do you like working from here?</p>
              <div class="unto" style="margin-left: 10px;">
                  <span>Emoji 1</span>
                  <span>Emoji 2</span>
                  <span>Emoji 3</span>
              </div>
          </div>

          <div class="outer-container" id="item-seven">

              <div style="margin-left: 10px;">
                  <span>icon</span>
                  <span>Address</span>
              </div>
          </div>

          <div class="outer-container" id="item-eight">

              <p>Missing or incorrect information?</p>
              <button>UPDATE PAGE</button>
              <button>REPORT CLOSED</button>
          </div>


      </section>
  </div>


{% endblock %}