{% extends "base.html" %}


{% block content %}
<div class="container">
    <div class="login">
        <h1>LOGIN IN</h1>

        <p>Continue With</p>
        <a>GOOGLE</a>

        <p>or use your email</p>

        <form action="{{url_for('unprotected.login')}}" method="POST">
            {{form.csrf_token()}}
            <table>
                <tr>
                    <td>{{form.email(placeholder="Email", class="login-input", size=50)}}</td>
                </tr>

                <tr>
                    <td>{{form.password(placeholder="Password", size=50)}}</td>
                </tr>

                <tr>
                    <td>
                        <input type="checkbox">
                        <span>Remember me</span>
                    </td>
                </tr>
            </table>
            <a>Forgot password ?</a>
    <!--        <a href="{{url_for('unprotected.login')}}">LOGIN</a>-->
            {{form.login()}}
            <div>
                New to Laptop Friendly?
                <a href="{{url_for('unprotected.register')}}">Register</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}