<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>review information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <form method="POST" action="{{url_for('review_venue_info')}}">
<!--      manual csrf protection-->
      <input name="csrf_token" type="hidden" value="{{csrf_token}}">

  <div class="total-container">
      <h1 id="location-review">{{location}} - review</h1>
      <div class="topic">
          <h2 class="heading">PRODUCTIVITY</h2>
          <div class="row-questions">
              <div class="one">
                  <p class="question">Is there Wi-Fi</p>
                  <select id="wifi" name="wifi-options" required>
                      <option value="">-- Choose an Option --</option>
                      <option class="list-item">No</option>
                      <option class="list-item">Yes, but can be unstable or limited</option>
                      <option class="list-item">Definitely, it's very reliable</option>
                  </select>
              </div>

              <div class="two">
                  <p class="question">Is it easy to find power sockets?</p>
                  <select id="sockets" name="power-sockets" required>
                      <option value="">-- Choose an Option --</option>
                      <option class="list-item">No (< 10% of seats have power sockets)</option>
                      <option class="list-item">So-so (10-50% of seats have power sockets)</option>
                      <option class="list-item">Definitely (> 50% of seats have power sockets)</option>
                  </select>
              </div>
          </div>

          <div class="row-questions">
              <div class="one">
                  <p class="question">How long can you comfortably stay and work?</p>
                  <select id="duration" name="duration-for-work" required>
                      <option value="">-- Choose an Option --</option>
                      <option class="list-item">While eating or drinking only</option>
                      <option class="list-item">Depends on how busy it gets</option>
                      <option class="list-item">I can stay as long as i want!</option>
                  </select>
              </div>

              <div class="two">
                  <p class="question">Are tables and chairs comfortable for work?</p>
                  <select id="tables" name="chairs-comfortable" required>
                      <option value="">-- Choose an Option --</option>
                      <option class="list-item">No (or very small amount)</option>
                      <option class="list-item">Somewhat / it's mixed</option>
                      <option class="list-item">All tables and chairs are work friendly</option>
                  </select>
              </div>
          </div>

          <div class="row-questions">
              <div class="one">
                  <p class="question">Is it quiet?</p>
                  <select id="quiet" name="it-quiet" required>
                      <option value="">-- Choose an Option --</option>
                      <option class="list-item">No</option>
                      <option class="list-item">So-so / Depends</option>
                      <option class="list-item">Definitely!</option>
                  </select>
              </div>

              <div class="two">
                  <p class="question">Can you comfortably make audio/video calls?</p>
                  <select id="audio" name="audio-video-calls" required>
                      <option value="">-- Choose an Option --</option>
                      <option class="list-item">No</option>
                      <option class="list-item">Maybe / Depends</option>
                      <option class="list-item">Definitely!</option>
                  </select>
              </div>
          </div>
      </div>
      <hr style="width: 80; margin: auto;">
      <div class="topic">
          <h2 class="heading">COMMUNITY</h2>
          <div class="row-questions">
              <div class="one">
                  <p class="question">Is it common to see other people working?</p>
                  <select id="people-working" name="people-working" required>
                      <option value="">-- Choose an Option --</option>
                      <option class="list-item">No, nobody is working</option>
                      <option class="list-item">Yes, some people are working</option>
                      <option class="list-item">Definitely, almost everyone is working!</option>
                  </select>
              </div>

              <div class="two">
                  <p class="question">Are there group tables (for 6+ people)</p>
                  <select id="group-tables" name="group-tables" required>
                      <option value="">-- Choose an Option --</option>
                      <option class="list-item">No</option>
                      <option class="list-item">Yes</option>
                      <option class="list-item">Definitely! There's also a big community table</option>
                  </select>
              </div>
          </div>
      </div>
      <hr style="width: 80; margin: auto;">
      <div class="topic">
          <h2 class="heading">SERVICE</h2>
          <div class="row-questions">
              <div class="one">
                  <p class="question">Is coffee available</p>
                  <select id="coffee-available" name="coffee-available" required>
                      <option value="">-- Choose an Option --</option>
                      <option class="list-item">No</option>
                      <option class="list-item">Yes, but average quality</option>
                      <option class="list-item">Yes, and its of high quality!</option>
                  </select>
              </div>

              <div class="two">
                  <p class="question">Is food offered</p>
                  <select id="food-offered" name="food-offered" required>
                      <option value="">-- Choose an Option --</option>
                      <option class="list-item">No</option>
                      <option class="list-item">Only snacks, pastries, or salads</option>
                      <option class="list-item">Definitely, proper meals!</option>
                  </select>
              </div>
          </div>

          <div class="row-questions">
              <div class="one">
                  <p class="question">Are there veggie options</p>
                  <select id="veggie-options" name="veggie-options" required>
                      <option value="">-- Choose an Option --</option>
                      <option class="list-item">No</option>
                      <option class="list-item">Yes, but limited</option>
                      <option class="list-item">Definitely, with great veggie meals!</option>
                  </select>
              </div>

              <div class="two">
                  <p class="question">Is alcohol offered</p>
                  <select id="alcohol-offered" name="alcohol-offered" required>
                      <option value="">-- Choose an Option --</option>
                      <option class="list-item">No</option>
                      <option class="list-item">Only a small selection (Beers, wines, ciders)</option>
                      <option class="list-item">Definitely, a wide selection (Liquors, cocktails, etc.)</option>
                  </select>
              </div>
          </div>

          <div class="row-questions">
              <div class="one">
                  <p class="question">Are credit cards accepted?</p>
                  <select id="credit-cards" name="credit-cards" required>
                      <option value="">-- Choose an Option --</option>
                      <option class="list-item">No</option>
                      <option class="list-item">Only some cards or amounts</option>
                      <option class="list-item">Definitely!</option>
                  </select>
              </div>

          </div>

      </div>
      <hr style="width: 80; margin: auto;">
      <div class="topic">
          <h2 class="heading">SPACE</h2>

           <div class="row-questions">
              <div class="one">
                  <p class="question">Is the space full of natural light</p>
                  <select id="natural-light" name="natural-light">
                      <option value="">-- Choose an Option --</option>
                      <option class="list-item">No</option>
                      <option class="list-item">So-so / Only some areas</option>
                      <option class="list-item">Definitely!</option>
                  </select>
              </div>

              <div class="two">
                  <p class="question">Is there an outdoor area? (Assuming nice weather)</p>
                  <select id="outdoor-area" name="outdoor-area">
                      <option value="">-- Choose an Option --</option>
                      <option class="list-item">No</option>
                      <option class="list-item">Yes, but without power sockets</option>
                      <option class="list-item">Yes, with outdoor power sockets available too!</option>
                  </select>
              </div>
          </div>

          <div class="row-questions">
              <div class="one">
                  <p class="question">How large is the place ?</p>
                  <select id="large-space" name="large-space">
                      <option value="">-- Choose an Option --</option>
                      <option class="list-item">it's small (less than 10 tables)</option>
                      <option class="list-item">it's medium (between 10 and 30 tables)</option>
                      <option class="list-item">it's large (more than 30 tables)</option>
                  </select>
              </div>

              <div class="two">
                  <p class="question">Is there a restroom</p>
                  <select id="restroom" name="restroom">
                      <option value="">-- Choose an Option --</option>
                      <option class="list-item">No</option>
                      <option class="list-item">Yes, but far away, dirty, or inconvenient</option>
                      <option class="list-item">Definitely, it's clean and easily accessible!</option>
                  </select>
              </div>
          </div>

          <div class="row-questions">
              <div class="one">
                  <p class="question">Is it easily accessible with a wheelchair</p>
                  <select id="wheelchair-access" name="wheelchair-access">
                      <option value="">-- Choose an Option --</option>
                      <option class="list-item">No</option>
                      <option class="list-item">So-So</option>
                      <option class="list-item">Definitely</option>
                  </select>
              </div>

              <div class="two">
                  <p class="question">Is the place air conditioned?</p>
                  <select id="air-conditioned" name="air-conditioned">
                      <option value="">-- Choose an Option --</option>
                      <option class="list-item">No</option>
                      <option class="list-item">Only a small area (less than half of the tables)</option>
                      <option class="list-item">Definitely, most or all areas are air conditioned!</option>
                  </select>
              </div>
          </div>

           <div class="row-questions">
              <div class="one">
                  <p class="question">Is the space smoke free</p>
                  <select id="smoke-free" name="smoke-free">
                      <option value="">-- Choose an Option --</option>
                      <option class="list-item">No</option>
                      <option class="list-item">There is a non-smoking area</option>
                      <option class="list-item">Definitely</option>
                  </select>
              </div>

              <div class="two">
                  <p class="question">Is it pet friendly</p>
                  <select id="pet-friendly" name="pet-friendly">
                      <option value="">-- Choose an Option --</option>
                      <option class="list-item">No</option>
                      <option class="list-item">Only some areas (e.g outdoors)</option>
                      <option class="list-item">Definitely</option>
                  </select>
              </div>
          </div>

          <div class="row-questions">
              <div class="one">
                  <p class="question">Is there a parking space</p>
                  <select id="parking-space" name="parking-space">
                      <option value="">-- Choose an Option --</option>
                      <option class="list-item">No</option>
                      <option class="list-item">There's street parking nearby</option>
                      <option class="list-item">There is dedicated parking!</option>
                  </select>
              </div>
          </div>

      </div>
      <hr style="width: 80; margin: auto;">
      <div class="topic">
          <h2 class="heading">SUMMARY</h2>
          <div class="row-questions">
              <div class="one">
                  <p class="question">In general, do you like working from here?</p>
                  <select id="working" name="summary">
                      <option value="">-- Choose an Option --</option>
                      <option class="list-item">No it's uncomfortable for work</option>
                      <option class="list-item">Yes, I got some work done</option>
                      <option class="list-item">Definitely, I feel very productive here!</option>
                  </select>
              </div>
          </div>
      </div>
      <button id="button-submit">SUBMIT REVIEW</button>

  </div>
  </form>
  <script src="{{url_for('static', filename='js/review.js')}}"></script>
</body>
</html>




<!--  <div class="main-container">-->


<!--  {% for (section, value) in question_bank.items(): %}-->
<!--     <h2>{{section}}</h2>-->
<!--      <div class="flex-container">-->
<!--     {% for (question, answer_list) in value.items(): %}-->

<!--        {% if loop.index0 % 2 == 0: %}-->
<!--          <span class="container-1">-->
<!--              <p>{{question}}</p>-->
<!--              <ul>-->
<!--                  {% for options in answer_list: %}-->
<!--                    <li>{{options}}</li>-->
<!--                  {% endfor %}-->
<!--              </ul>-->
<!--          </span>-->
<!--        {% else: %}-->
<!--           <span class="container-2">-->
<!--               <p>{{question}}</p>-->
<!--               <ul>-->
<!--                {% for options in answer_list: %}-->
<!--                   <li>{{options}}</li>-->
<!--                {% endfor %}-->
<!--               </ul>-->

<!--           </span>-->
<!--        {% endif %}-->

<!--     {% endfor %}-->
<!--     </div>-->
<!--  {% endfor %}-->

<!--  </div>-->