{% extends "base.html" %}
{% block title %}review information{% endblock %}


{% block content %}
  <form method="POST" action="{{url_for('review_venue_info', city=city, cafe_name=cafe)}}">
<!--      manual csrf protection-->
      <input name="csrf_token" type="hidden" value="{{csrf_token}}">
<!--      <div>{{city}}</div>-->
<!--      <div>{{cafe}}</div>-->
  <div class="total-container">
      <h1 id="location-review" style="text-transform: uppercase;">{{cafe or cafe_name}} - review</h1>

      {% for header, question_bank in survey_data.items() %}

        {% set question_bank_list = question_bank.items() | list %}
<!--         PRODUCTIVITY-->
        {% if question_bank_list | length == 6 %}
           {% set productivity = review_data.get("PRODUCTIVITY") %}
           <div class="topic">
               <h2 class="heading">{{header}}</h2>
               <div class="row-questions">
                   {% for key, item_tuple in question_bank_list[:2] %}
                     {% set index = loop.index0 %}
                     <div class="{{ 'one' if index == 0 else 'two' }}">
                        <p class="question">{{key}}</p>
                         <select id="{{item_tuple[1]}}" name="{{item_tuple[1]}}" required>
                             <option value=""> Choose an Option </option>
                             {% for option in item_tuple[0] %}
                             <option value={{option[1]}} class="list-item-{{ loop.index }}" {{'selected' if productivity[index] == option[1] else ''}}>{{option[0]}}</option>
                             {% endfor %}
                         </select>
                     </div>
                   {% endfor %}
               </div>
               <div class="row-questions">
                   {% for key, item_tuple in question_bank_list[2:4] %}
                    {% set index = loop.index0 %}
                     <div class="{{ 'one' if index == 0 else 'two' }}">
                        <p class="question">{{key}}</p>
                         <select id="{{item_tuple[1]}}" name="{{item_tuple[1]}}" required>
                             <option value=""> Choose an Option </option>
                             {% for option in item_tuple[0] %}
                             <option value={{option[1]}} class="list-item-{{ loop.index }}" {{'selected' if productivity[index] == option[1] else ''}}>{{option[0]}}</option>
                             {% endfor %}
                         </select>
                     </div>
                   {% endfor %}
               </div>
               <div class="row-questions">
                   {% for key, item_tuple in question_bank_list[4:6] %}
                    {% set index = loop.index0 %}
                     <div class="{{ 'one' if index == 0 else 'two' }}">
                        <p class="question">{{key}}</p>
                         <select id="{{item_tuple[1]}}" name="{{item_tuple[1]}}" required>
                             <option value=""> Choose an Option </option>
                             {% for option in item_tuple[0] %}
                             <option value={{option[1]}} class="list-item-{{ loop.index }}" {{'selected' if productivity[index] == option[1] else ''}}>{{option[0]}}</option>
                             {% endfor %}
                         </select>
                     </div>
                   {% endfor %}
               </div>
           </div>
           <hr>
        {% elif question_bank_list | length == 2 %}
<!--           COMMUNITY-->
        {% set community = review_data.get("COMMUNITY") %}
           <div class="topic">
               <h2 class="heading">{{header}}</h2>
               <div class="row-questions">
                   {% for key, item_tuple in question_bank_list %}
                      {% set index = loop.index0 %}
                     <div class="{{ 'one' if index == 0 else 'two' }}">
                        <p class="question">{{key}}</p>
                         <select id="{{item_tuple[1]}}" name="{{item_tuple[1]}}" required>
                             <option value=""> Choose an Option </option>
                             {% for option in item_tuple[0] %}
                             <option value={{option[1]}} class="list-item-{{ loop.index }}" {{'selected' if community[index] == option[1] else ''}}>{{option[0]}}</option>
                             {% endfor %}
                         </select>
                     </div>
                   {% endfor %}
               </div>
           </div>
           <hr>
        {% elif question_bank_list | length == 5 %}
         {% set service = review_data.get("SERVICE") %}
<!--           SERVICE-->
           <div class="topic">
               <h2 class="heading">{{header}}</h2>
               <div class="row-questions">
                   {% for key, item_tuple in question_bank_list[:2] %}
                   {% set index = loop.index0 %}
                   <div class="{{ 'one' if index == 0 else 'two' }}">
                     <p class="question">{{key}}</p>
                     <select id="{{item_tuple[1]}}" name="{{item_tuple[1]}}" required>
                       <option value=""> Choose an Option </option>
                       {% for option in item_tuple[0] %}
                       <option value={{option[1]}} class="list-item-{{ loop.index }}" {{'selected' if service[index] == option[1] else ''}}>{{option[0]}}</option>
                       {% endfor %}
                     </select>
                   </div>
                   {% endfor %}
               </div>

                <div class="row-questions">
                    {% for key, item_tuple in question_bank_list[2:4] %}
                   {% set index = loop.index0 %}
                       <div class="{{ 'one' if index == 0 else 'two' }}">
                         <p class="question">{{key}}</p>
                         <select id="{{item_tuple[1]}}" name="{{item_tuple[1]}}" required>
                           <option value=""> Choose an Option </option>
                           {% for option in item_tuple[0] %}
                           <option value={{option[1]}} class="list-item-{{ loop.index }}" {{'selected' if service[index] == option[1] else ''}}>{{option[0]}}</option>
                           {% endfor %}
                         </select>
                       </div>
                   {% endfor %}
               </div>

                <div class="row-questions">
                    {% for key, item_tuple in question_bank_list[4:] %}
                       {% set index = loop.index0 %}
                           <div class="{{ 'one' if index == 0 else 'two' }}">
                             <p class="question">{{key}}</p>
                             <select id="{{item_tuple[1]}}" name="{{item_tuple[1]}}" required>
                               <option value=""> Choose an Option </option>
                               {% for option in item_tuple[0] %}
                               <option value={{option[1]}} class="list-item-{{ loop.index }}" {{'selected' if service[index] == option[1] else ''}}>{{option[0]}}</option>
                               {% endfor %}
                             </select>
                           </div>
                    {% endfor %}
               </div>
           </div>
           <hr>
        {% elif question_bank_list | length == 9 %}
          {% set space = review_data.get("SPACE") %}
<!--          SPACE-->
          <div class="topic">
               <h2 class="heading">{{header}}</h2>
              <div class="row-questions">
                {% for key, item_tuple in question_bank_list[:2] %}
                {% set index = loop.index0 %}
                  <div class="{{ 'one' if index == 0 else 'two' }}">
                      <p class="question">{{key}}</p>
                      <select id="{{item_tuple[1]}}" name="{{item_tuple[1]}}" required>
                          <option value=""> Choose an Option </option>
                          {% for option in item_tuple[0] %}
                          <option value={{option[1]}} class="list-item-{{ loop.index }}" {{'selected' if space[index] == option[1] else ''}}>{{option[0]}}</option>
                          {% endfor %}
                      </select>
                  </div>
                {% endfor %}
              </div>

              <div class="row-questions">
                {% for key, item_tuple in question_bank_list[2:4] %}
                {% set index = loop.index0 %}
                  <div class="{{ 'one' if index == 0 else 'two' }}">
                      <p class="question">{{key}}</p>
                      <select id="{{item_tuple[1]}}" name="{{item_tuple[1]}}" required>
                          <option value=""> Choose an Option </option>
                          {% for option in item_tuple[0] %}
                          <option value={{option[1]}} class="list-item-{{ loop.index }}" {{'selected' if space[index] == option[1] else ''}}>{{option[0]}}</option>
                          {% endfor %}
                      </select>
                  </div>
                {% endfor %}
              </div>

              <div class="row-questions">
                {% for key, item_tuple in question_bank_list[4:6] %}
                {% set index = loop.index0 %}
                  <div class="{{ 'one' if index == 0 else 'two' }}">
                      <p class="question">{{key}}</p>
                      <select id="{{item_tuple[1]}}" name="{{item_tuple[1]}}" required>
                          <option value=""> Choose an Option </option>
                          {% for option in item_tuple[0] %}
                          <option value={{option[1]}} class="list-item-{{ loop.index }}" {{'selected' if space[index] == option[1] else ''}}>{{option[0]}}</option>
                          {% endfor %}
                      </select>
                  </div>
                {% endfor %}
              </div>

              <div class="row-questions">
                  {% for key, item_tuple in question_bank_list[6:8] %}
                  {% set index = loop.index0 %}
                      <div class="{{ 'one' if index == 0 else 'two' }}">
                          <p class="question">{{key}}</p>
                          <select id="{{item_tuple[1]}}" name="{{item_tuple[1]}}" required>
                              <option value=""> Choose an Option </option>
                              {% for option in item_tuple[0] %}
                              <option value={{option[1]}} class="list-item-{{ loop.index }}" {{'selected' if space[index] == option[1] else ''}}>{{option[0]}}</option>
                              {% endfor %}
                          </select>
                      </div>
                  {% endfor %}
              </div>

              <div class="row-questions">
                  {% for key, item_tuple in question_bank_list[8:] %}
                  {% set index = loop.index0 %}
                      <div class="{{ 'one' if index == 0 else 'two' }}">
                          <p class="question">{{key}}</p>
                          <select id="{{item_tuple[1]}}" name="{{item_tuple[1]}}" required>
                              <option value=""> Choose an Option </option>
                              {% for option in item_tuple[0] %}
                              <option value={{option[1]}} class="list-item-{{ loop.index }}" {{'selected' if space[index] == option[1] else ''}}>{{option[0]}}</option>
                              {% endfor %}
                          </select>
                      </div>
                  {% endfor %}
              </div>
          </div>
          <hr>
        {% else %}
<!--          SUMMARY-->
         <div class="topic">
             <h2 class="heading">{{header}}</h2>
             <div class="row-questions">
                 {% for key, item_tuple in question_bank_list %}
                   {% set index = loop.index0 %}
                   <div class="{{ 'one' if index == 0 else 'two' }}">
                     <p class="question">{{key}}</p>
                     <select id="{{item_tuple[1]}}" name="{{item_tuple[1]}}" required>
                       <option style="text-align: center;" value=""> Choose an Option </option>
                       {% for option in item_tuple[0] %}
                       <option value={{option[1]}} class="list-item-{{ loop.index }}" {{'selected' if summary == option[1] else ''}}>{{option[0]}}</option>
                       {% endfor %}
                     </select>
                   </div>
                   {% endfor %}
             </div>
         </div>

        {% endif %}

      {% endfor %}

<!--      <div class="topic">-->
<!--          <h2 class="heading">PRODUCTIVITY</h2>-->
<!--          <div class="row-questions">-->
<!--              <div class="one">-->
<!--                  <p class="question">Is there Wi-Fi</p>-->
<!--                  <select id="wifi" name="wifi-options" required>-->
<!--                      <option value="">&#45;&#45; Choose an Option &#45;&#45;</option>-->
<!--                      <option value="low" class="list-item-1">No</option>-->
<!--                      <option value="medium" class="list-item-2">Yes, but can be unstable or limited</option>-->
<!--                      <option value="high" class="list-item-3">Definitely, it's very reliable</option>-->
<!--                  </select>-->
<!--              </div>-->

<!--              <div class="two">-->
<!--                  <p class="question">Is it easy to find power sockets?</p>-->
<!--                  <select id="sockets" name="power-sockets" required>-->
<!--                      <option value="">&#45;&#45; Choose an Option &#45;&#45;</option>-->
<!--                      <option value="low" class="list-item-1">No (< 10% of seats have power sockets)</option>-->
<!--                      <option value="medium" class="list-item-2">So-so (10-50% of seats have power sockets)</option>-->
<!--                      <option value="high" class="list-item-3">Definitely (> 50% of seats have power sockets)</option>-->
<!--                  </select>-->
<!--              </div>-->
<!--          </div>-->

<!--          <div class="row-questions">-->
<!--              <div class="one">-->
<!--                  <p class="question">How long can you comfortably stay and work?</p>-->
<!--                  <select id="duration" name="duration-for-work" required>-->
<!--                      <option value="">&#45;&#45; Choose an Option &#45;&#45;</option>-->
<!--                      <option value="low" class="list-item-1">While eating or drinking only</option>-->
<!--                      <option value="medium" class="list-item-2">Depends on how busy it gets</option>-->
<!--                      <option value="high" class="list-item-3">I can stay as long as i want!</option>-->
<!--                  </select>-->
<!--              </div>-->

<!--              <div class="two">-->
<!--                  <p class="question">Are tables and chairs comfortable for work?</p>-->
<!--                  <select id="tables" name="chairs-comfortable" required>-->
<!--                      <option value="">&#45;&#45; Choose an Option &#45;&#45;</option>-->
<!--                      <option value="low" class="list-item-1">No (or very small amount)</option>-->
<!--                      <option value="medium" class="list-item-2">Somewhat / it's mixed</option>-->
<!--                      <option value="high" class="list-item-3">All tables and chairs are work friendly</option>-->
<!--                  </select>-->
<!--              </div>-->
<!--          </div>-->

<!--          <div class="row-questions">-->
<!--              <div class="one">-->
<!--                  <p class="question">Is it quiet?</p>-->
<!--                  <select id="quiet" name="it-quiet" required>-->
<!--                      <option value="">&#45;&#45; Choose an Option &#45;&#45;</option>-->
<!--                      <option value="low" class="list-item-1">No</option>-->
<!--                      <option value="medium" class="list-item-2">So-so / Depends</option>-->
<!--                      <option value="high" class="list-item-3">Definitely!</option>-->
<!--                  </select>-->
<!--              </div>-->

<!--              <div class="two">-->
<!--                  <p class="question">Can you comfortably make audio/video calls?</p>-->
<!--                  <select id="audio" name="audio-video-calls" required>-->
<!--                      <option value="">&#45;&#45; Choose an Option &#45;&#45;</option>-->
<!--                      <option value="low" class="list-item-1">No</option>-->
<!--                      <option value="medium" class="list-item-2">Maybe / Depends</option>-->
<!--                      <option value="high" class="list-item-3">Definitely!</option>-->
<!--                  </select>-->
<!--              </div>-->
<!--          </div>-->
<!--      </div>-->
<!--      <hr style="width: 80; margin: auto;">-->
<!--      <div class="topic">-->
<!--          <h2 class="heading">COMMUNITY</h2>-->
<!--          <div class="row-questions">-->
<!--              <div class="one">-->
<!--                  <p class="question">Is it common to see other people working?</p>-->
<!--                  <select id="people-working" name="people-working" required>-->
<!--                      <option value="">&#45;&#45; Choose an Option &#45;&#45;</option>-->
<!--                      <option value="low" class="list-item-1">No, nobody is working</option>-->
<!--                      <option value="medium" class="list-item-2">Yes, some people are working</option>-->
<!--                      <option value="high" class="list-item-3">Definitely, almost everyone is working!</option>-->
<!--                  </select>-->
<!--              </div>-->

<!--              <div class="two">-->
<!--                  <p class="question">Are there group tables (for 6+ people)</p>-->
<!--                  <select id="group-tables" name="group-tables" required>-->
<!--                      <option value="">&#45;&#45; Choose an Option &#45;&#45;</option>-->
<!--                      <option value="low" class="list-item-1">No</option>-->
<!--                      <option value="medium" class="list-item-2">Yes</option>-->
<!--                      <option value="high" class="list-item-3">Definitely! There's also a big community table</option>-->
<!--                  </select>-->
<!--              </div>-->
<!--          </div>-->
<!--      </div>-->
<!--      <hr style="width: 80; margin: auto;">-->
<!--      <div class="topic">-->
<!--          <h2 class="heading">SERVICE</h2>-->
<!--          <div class="row-questions">-->
<!--              <div class="one">-->
<!--                  <p class="question">Is coffee available</p>-->
<!--                  <select id="coffee-available" name="coffee-available" required>-->
<!--                      <option value="">&#45;&#45; Choose an Option &#45;&#45;</option>-->
<!--                      <option value="low" class="list-item-1">No</option>-->
<!--                      <option value="medium" class="list-item-2">Yes, but average quality</option>-->
<!--                      <option value="high" class="list-item-3">Yes, and its of high quality!</option>-->
<!--                  </select>-->
<!--              </div>-->

<!--              <div class="two">-->
<!--                  <p class="question">Is food offered</p>-->
<!--                  <select id="food-offered" name="food-offered" required>-->
<!--                      <option value="">&#45;&#45; Choose an Option &#45;&#45;</option>-->
<!--                      <option value="low" class="list-item-1">No</option>-->
<!--                      <option value="medium" class="list-item-2">Only snacks, pastries, or salads</option>-->
<!--                      <option value="high" class="list-item-3">Definitely, proper meals!</option>-->
<!--                  </select>-->
<!--              </div>-->
<!--          </div>-->

<!--          <div class="row-questions">-->
<!--              <div class="one">-->
<!--                  <p class="question">Are there veggie options</p>-->
<!--                  <select id="veggie-options" name="veggie-options" required>-->
<!--                      <option value="">&#45;&#45; Choose an Option &#45;&#45;</option>-->
<!--                      <option value="low" class="list-item-1">No</option>-->
<!--                      <option value="medium" class="list-item-2">Yes, but limited</option>-->
<!--                      <option value="high" class="list-item-3">Definitely, with great veggie meals!</option>-->
<!--                  </select>-->
<!--              </div>-->

<!--              <div class="two">-->
<!--                  <p class="question">Is alcohol offered</p>-->
<!--                  <select id="alcohol-offered" name="alcohol-offered" required>-->
<!--                      <option value="">&#45;&#45; Choose an Option &#45;&#45;</option>-->
<!--                      <option value="low" class="list-item-1">No</option>-->
<!--                      <option value="medium" class="list-item-2">Only a small selection (Beers, wines, ciders)</option>-->
<!--                      <option value="high" class="list-item-3">Definitely, a wide selection (Liquors, cocktails, etc.)</option>-->
<!--                  </select>-->
<!--              </div>-->
<!--          </div>-->

<!--          <div class="row-questions">-->
<!--              <div class="one">-->
<!--                  <p class="question">Are credit cards accepted?</p>-->
<!--                  <select id="credit-cards" name="credit-cards" required>-->
<!--                      <option value="">&#45;&#45; Choose an Option &#45;&#45;</option>-->
<!--                      <option value="low" class="list-item-1">No</option>-->
<!--                      <option value="medium" class="list-item-2">Only some cards or amounts</option>-->
<!--                      <option value="high" class="list-item-3">Definitely!</option>-->
<!--                  </select>-->
<!--              </div>-->

<!--          </div>-->

<!--      </div>-->
<!--      <hr style="width: 80; margin: auto;">-->
<!--      <div class="topic">-->
<!--          <h2 class="heading">SPACE</h2>-->

<!--           <div class="row-questions">-->
<!--              <div class="one">-->
<!--                  <p class="question">Is the space full of natural light</p>-->
<!--                  <select id="natural-light" name="natural-light">-->
<!--                      <option value="">&#45;&#45; Choose an Option &#45;&#45;</option>-->
<!--                      <option value="low" class="list-item-1">No</option>-->
<!--                      <option value="medium" class="list-item-2">So-so / Only some areas</option>-->
<!--                      <option value="high" class="list-item-3">Definitely!</option>-->
<!--                  </select>-->
<!--              </div>-->

<!--              <div class="two">-->
<!--                  <p class="question">Is there an outdoor area? (Assuming nice weather)</p>-->
<!--                  <select id="outdoor-area" name="outdoor-area">-->
<!--                      <option value="">&#45;&#45; Choose an Option &#45;&#45;</option>-->
<!--                      <option value="low" class="list-item-1">No</option>-->
<!--                      <option value="medium" class="list-item-2">Yes, but without power sockets</option>-->
<!--                      <option value="high" class="list-item-3">Yes, with outdoor power sockets available too!</option>-->
<!--                  </select>-->
<!--              </div>-->
<!--          </div>-->

<!--          <div class="row-questions">-->
<!--              <div class="one">-->
<!--                  <p class="question">How large is the place ?</p>-->
<!--                  <select id="large-space" name="large-space">-->
<!--                      <option value="">&#45;&#45; Choose an Option &#45;&#45;</option>-->
<!--                      <option value="low" class="list-item-1">it's small (less than 10 tables)</option>-->
<!--                      <option value="medium" class="list-item-2">it's medium (between 10 and 30 tables)</option>-->
<!--                      <option value="high" class="list-item-3">it's large (more than 30 tables)</option>-->
<!--                  </select>-->
<!--              </div>-->

<!--              <div class="two">-->
<!--                  <p class="question">Is there a restroom</p>-->
<!--                  <select id="restroom" name="restroom">-->
<!--                      <option value="">&#45;&#45; Choose an Option &#45;&#45;</option>-->
<!--                      <option value="low" class="list-item-1">No</option>-->
<!--                      <option value="medium" class="list-item-2">Yes, but far away, dirty, or inconvenient</option>-->
<!--                      <option value="high" class="list-item-3">Definitely, it's clean and easily accessible!</option>-->
<!--                  </select>-->
<!--              </div>-->
<!--          </div>-->

<!--          <div class="row-questions">-->
<!--              <div class="one">-->
<!--                  <p class="question">Is it easily accessible with a wheelchair</p>-->
<!--                  <select id="wheelchair-access" name="wheelchair-access">-->
<!--                      <option value="">&#45;&#45; Choose an Option &#45;&#45;</option>-->
<!--                      <option value="low" class="list-item-1">No</option>-->
<!--                      <option value="medium" class="list-item-2">So-So</option>-->
<!--                      <option value="high" class="list-item-3">Definitely</option>-->
<!--                  </select>-->
<!--              </div>-->

<!--              <div class="two">-->
<!--                  <p class="question">Is the place air conditioned?</p>-->
<!--                  <select id="air-conditioned" name="air-conditioned">-->
<!--                      <option value="">&#45;&#45; Choose an Option &#45;&#45;</option>-->
<!--                      <option value="low" class="list-item-1">No</option>-->
<!--                      <option value="medium" class="list-item-2">Only a small area (less than half of the tables)</option>-->
<!--                      <option value="high" class="list-item-3">Definitely, most or all areas are air conditioned!</option>-->
<!--                  </select>-->
<!--              </div>-->
<!--          </div>-->

<!--           <div class="row-questions">-->
<!--              <div class="one">-->
<!--                  <p class="question">Is the space smoke free</p>-->
<!--                  <select id="smoke-free" name="smoke-free">-->
<!--                      <option value="">&#45;&#45; Choose an Option &#45;&#45;</option>-->
<!--                      <option value="low" class="list-item-1">No</option>-->
<!--                      <option value="medium" class="list-item-2">There is a non-smoking area</option>-->
<!--                      <option value="high" class="list-item-3">Definitely</option>-->
<!--                  </select>-->
<!--              </div>-->

<!--              <div class="two">-->
<!--                  <p class="question">Is it pet friendly</p>-->
<!--                  <select id="pet-friendly" name="pet-friendly">-->
<!--                      <option value="">&#45;&#45; Choose an Option &#45;&#45;</option>-->
<!--                      <option value="low" class="list-item-1">No</option>-->
<!--                      <option value="medium" class="list-item-2">Only some areas (e.g outdoors)</option>-->
<!--                      <option value="high" class="list-item-3">Definitely</option>-->
<!--                  </select>-->
<!--              </div>-->
<!--          </div>-->

<!--          <div class="row-questions">-->
<!--              <div class="one">-->
<!--                  <p class="question">Is there a parking space</p>-->
<!--                  <select id="parking-space" name="parking-space">-->
<!--                      <option value="">&#45;&#45; Choose an Option &#45;&#45;</option>-->
<!--                      <option value="low" class="list-item-1">No</option>-->
<!--                      <option value="medium" class="list-item-2">There's street parking nearby</option>-->
<!--                      <option value="high" class="list-item-3">There is dedicated parking!</option>-->
<!--                  </select>-->
<!--              </div>-->
<!--          </div>-->

<!--      </div>-->
<!--      <hr style="width: 80; margin: auto;">-->
<!--      <div class="topic">-->
<!--          <h2 class="heading">SUMMARY</h2>-->
<!--          <div class="row-questions">-->
<!--              <div class="one">-->
<!--                  <p class="question">In general, do you like working from here?</p>-->

<!--                  <select id="working" name="summary">-->
<!--                      <option value="">&#45;&#45; Choose an Option &#45;&#45;</option>-->
<!--                      <option value="0" class="list-item-1" {{ 'selected' if summary == '0' else '' }}>No it's uncomfortable for work</option>-->
<!--                      <option value="50" class="list-item-2" {{ 'selected' if summary == '50' else '' }}>Yes, I got some work done</option>-->
<!--                      <option value="100" class="list-item-3" {{ 'selected' if summary == '100' else '' }}>Definitely, I feel very productive here!</option>-->
<!--                  </select>-->
<!--              </div>-->
<!--          </div>-->
<!--      </div>-->
      <button id="button-submit">SUBMIT REVIEW</button>

  </div>
  </form>
{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='js/review.js')}}"></script>
{% endblock %}






