<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<!--    <script src=f"http://maps.google.com/maps/api/js?key={{api_key}}" type="text/javascript"></script>-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="./static/styles.css">
</head>

<body>

<nav class="navbar navbar-expand-lg navigation-foot">
  <div class="container-fluid">
    <a class="navbar-brand mx-3" href="{{url_for('home')}}">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse nav-list" id="navbarNav">
      <ul class="navbar-nav">
<!--        <li class="nav-item navy">-->
<!--          <a class="nav-link active" aria-current="page" href="#">Home</a>-->
<!--        </li>-->
        <li class="nav-item">
          <a class="nav-link" href="#">CITIES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('add_place')}}">ADD</a>
        </li>
<!--        <li class="nav-item">-->
<!--          <a class="nav-link disabled" aria-disabled="true">Disabled</a>-->
<!--        </li>-->
      </ul>
    </div>
  </div>
</nav>

<div class="show-container">

<!--    <div class="filters">-->
<!--        <p>Hello</p>-->
<!--    </div>-->

    <div class="venues">
        <h1 class="sv-heading">{{location}}</h1>
        <p class="sv-heading">The best work and study-friendly cafes, restaurants, libraries, and hotel lobbies in {{city}}. Expand your
            coworking map with our list of casual spots with free and reliable Wi-Fi, ample power sockets, and comfy seating areas</p>
        <h2 class="sv-heading">{{cafes_list | length}} WORK-FRIENDLY PLACES</h2>
        <div class="cities-container">
           {% for cafe in cafes_list: %}
            <div class="pub-container">
                <img src="{{cafe.img_url}}">
                <p>{{cafe.name}}</p>
            </div>
           {% endfor %}

            <div class="pub-container">
                <img src="#">
                <p>SUGGEST A PLACE</p>
            </div>

        </div>

    </div>

    <div id="sv-map"></div>


</div>

<script src="{{ url_for('static', filename='js/show-venue.js') }}"></script>

<script async defer src="http://maps.google.com/maps/api/js?key={{api_key}}" type="text/javascript"></script>
</body>

</html>