{% extends "base.html" %}

{% block content %}
    <div style="" class="unverified-container">
        <div class="card">
            <h3>Hello {{ current_user.name }}</h3>
            <h4>We've sent a verification link to {{current_user.email}}, please click the link in that email to activate your account</h4>
            <p>Didn't get the email ? Check your spam folder or request a new one</p>
            <p style="color: red;" id="too-many-request" class="hide-stuff"></p>
            <div style="margin:auto;">
              <button style="text-decoration: none; border:1px solid black; padding: 8px; color: black; margin: 4px" class="resend-email-btn">Resend Email</button>
              <a class="logout-btn" style="text-decoration: none; border:1px solid black; padding: 8px; color: black; margin: 4px"  href="{{url_for('unprotected.logout')}}">Log Out</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/unverified-email.js') }}"></script>
{% endblock %}