{% extends "base.html" %}

{% block title %}Cities{% endblock %}


{% block content %}

<div class="city-container">
    <h1 class="city-header">CITIES</h1>
    {% for country, city_list in city_dict.items() %}
        <section class="country-section">
            <h2>
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                </svg>
                {{ country }}
            </h2>
            {% for city in city_list %}
            <a class="city-link" href="{{ url_for('unprotected.show_venue', location=city) }}">{{ city }}</a>
            {% endfor %}
        </section>
    {% endfor %}
</div>

{% endblock %}

