{% extends "base.html" %}


{% block content %}
<div id="register-container">


    <form class="register-form" action="{{url_for('unprotected.register')}}" method="POST">
        {{form.csrf_token}}
<!--        FLASH MESSAGES-->
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
                {% for message in messages %}
                  <li>{{message}}</li>
                {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        <div id="form-id">
            <h1 style="padding: 0 2px 20px 2px;">REGISTER</h1>
            <div class="register-entry-container">
                <span style="margin-right:2px;">{{form.name(placeholder="First Name")}}</span>
                <span style="margin-left:2px;">{{form.surname(placeholder="Last Name")}}</span>
            </div>

            <div class="register-entry-container">
                {{form.city(placeholder="City", size=47)}}
            </div>

            <div class="register-entry-container">
                {{form.email(placeholder="Email", size=47)}}
            </div>

            <div class="register-entry-container">
                {{form.password(placeholder="Password", size=47)}}
            </div>

            <div class="register-entry-container">
                {{form.password_confirm(placeholder="Confirm Password", size=47)}}
            </div>

<!--              FORM ERRORS-->
              {% if form.errors %}

                <ul class="form-error">
                    {% for field_errors in form.errors.values() %}
                      {% for error in field_errors %}
                        <li>{{ error }}</li>
                      {% endfor %}
                    {% endfor %}
                </ul>
              {% endif %}

            <div id="register-submit-container">
                {{form.register(id="register-form-btn")}}
            </div>
        </div>
        <div style="text-align: center;">
            <span>Already a member?</span >
            <a href="{{url_for('unprotected.login')}}">Login</a>
        </div>
    </form>
</div>
{% endblock %}